.condiation-table {
  width:100%;
}

.condiation-details .ant-table-thead > tr {
  background-color: #E0E0E0;
}

.condiation-patients .ant-table-thead > tr {
  background-color: #F0F0F0;
}

.patients-condiation .ant-table-thead > tr {
  background-color: #F5F5F5;
}
